<div class="borda">
  <div class="filtro">
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputName">Nome</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Nome do Produto" [(ngModel)]="pesquisar_nome">
      </div>
      <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
        <select id="tipoProduto" name="tipoProduto" class="form-control" [(ngModel)]="tipo">
          <option selected value='' >Todos</option>
          <option value="PF">Perfumaria</option>
          <option value="SM">Similar</option>
          <option value="GN">Genérico</option>]
          <option value="ET">Ético</option>
        </select>
      </div>
      <div class="col-auto my-1">
        <div class="custom-control custom-checkbox mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
          <label class="custom-control-label" for="customControlAutosizing">Encomenda</label>
        </div>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary" (click)=pesquisar()>Filtrar</button>
      </div>
    </div>
</div>
<div class="card" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Marca</th>
        <th scope="col">Grupo</th>
        <th scope="col">Encomenda</th>
        <th scope="col">Data</th>
        <th scope="col">Vendedor</th>
        <th scope="col">Situacao</th>
      </tr>
    </thead>
    <tbody #selecao>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.nome | uppercase }}</td>
        <td>{{ pedido.marca | uppercase }}</td>
        <td>
            <span class="badge"
            [ngClass]="{'bg-warning text-dark': pedido.tipo == 'GN',
                        'bg-primary': pedido.tipo =='SM',
                        'bg-perfumaria': pedido.tipo == 'PF',
                        'bg-dark': pedido.tipo == 'ET'}">
                        {{pedido.tipo | descCompleta | uppercase}}
            </span>
        </td>
        <td [encomenda]>{{ pedido.encomenda | encomenda }}</td>
        <td>{{ pedido.data }}</td>
        <td>{{ pedido.vendedor }}</td>
        <td><span class="badge" 
          [ngClass]="{'bg-danger': pedido.situacao == 'FT',
                      'bg-success': pedido.situacao == 'PD',
                      'bg-warning': pedido.situacao == 'AB'}">
                      {{ pedido.situacao | descCompleta }}
          </span></td>
      </tr>
    </tbody>
  </table>
</div>
<br>
</div>

  