.block2{
    height: 600px;
    padding: 1% 1% 0% 1%;
    width: 100%;
    overflow: auto;
}

.un{
    border-color: #607d8b;
    margin-bottom: 2px;
}

.un:hover{
    border-color:#e57373;
    
}

p{
    font-size: 10pt;
    margin-bottom: 2px;
}

i{
    right: 10px;
    position: absolute;
    cursor: pointer;
    display:none;
}

.badge{
    color: white;
    margin-left: 2px;
}

.bg-marca{
    background-color: #607d8b;
}

.bg-perfumaria{
    background-color: #6a1b9a ;
}

@media (max-width: 992px) {
    .block2{
        height: 400px;
        margin-bottom: 15px;
        margin-top:5%;
    }
}