.circle{ 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    padding: 5px;
    margin-left: 5px;
    color: black;
}

.cifrao.circle{
    background: #a5d6a7;
}

.circle:hover{
    background-color: #43a047;
    color: white;
}

.cancel.circle{
    background-color: #ef9a9a;
}

.cancel:hover{
    background-color: #e53935;
    color: white;
}

tbody tr:hover{
    background-color: #757575;
    color: white;
}