.card{
    margin-bottom: 5px;
    color: black;
    border-color: #e57373;
    
}

.card:hover{
    box-shadow: 0 0 1em #e57373;
    cursor: pointer;
}

.col{
    width: 100%;
}

.lista{
    overflow: auto;
    padding: 4%;
    position: absolute;
    top: 25%;
    width: 100%;
    height: 100%;
}

p{
    font-size: 10pt;
    margin-bottom: 2px;
}

i{
    right: 10px;
    position: absolute;
    display:none;
}

.badge{
    color: white;
    margin-left: 2px;
}

.bg-marca{
    background-color: #607d8b;
}

.bg-perfumaria{
    background-color: #6a1b9a ;
}